.justified {
  text-align: justify;
}

.underline {
  border-bottom: 3px solid;
}

.bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.parent {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
.parent > .child {
  display: table-cell;
  vertical-align: middle;
}

.icon {
  margin: 5px;
}

.alternate {
  background: #F3EFE0
}

.padded {
  padding-top: 15%;
  padding-bottom: 15%;
}